<% include ../includes/header.ejs %>
<title><%= pageTitle %></title>
</head>

<body>
    <% include ../includes/nav.ejs %>
    <div class="jumbotron text-center">

        <div class="container">
            <h1><%= pageTitle %></h1>
        </div>
    </div>
    <div class="container text-center">
        <table class="tasks">
            <tr>
                <td>Week 1</td>
                <td>
            </tr>
        </table>
    </div>
</body>